/** @Main scss for (Template/Project Name) @project     - Project Name @author      -  @created_by  - Ashiqur Rahman @created_at  -  @modified_by - */
/* fonts import */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");
/* fonts import -END */
/* reset, root */
* { padding: 0; margin: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { padding: 0; margin: 0; background-color: #fff; font-family: "Rubik", sans-serif !important; }

:root { --teal: #003445; --darkTeal: #00222d; --blue: #b4ecff; --deepBlue: #009fd3; --lightBlue: #97ccdd; --paleBlue: #e0ecf0; --ash: #eeede9; --yellow: #f8d448; --gray: #5d737a; --danger: #ff2e00; --dark-1: #0D1525; --dark-2: #4B566B; --purple: #0052CC; }

/* reset, root - END */
@media (min-width: 1400px) { .container { max-width: 1380px; } }

/* helper , base classes */
.text-clr-teal { color: var(--teal); }

.text-clr-darkTeeal { color: var(--darkTeal); }

.text-clr-blue { color: var(--blue); }

.text-clr-deepBlue { color: var(--deepBlue); }

.text-clr-paleBlue { color: var(--paleBlue); }

.text-clr-ash { color: var(--ash); }

.text-clr-yellow { color: var(--yellow); }

.text-clr-lightBlue { color: var(--lightBlue); }

.text-clr-gray { color: var(--gray); }

.text-clr-danger { color: var(--danger); }

.text-clr-dark-1 { color: var(--dark-1); }

.text-clr-dark-2 { color: var(--dark-2); }

.text-clr-purple { color: var(--purple); }

.text-clr-purple { color: var(--purple); }

.bg-clr-teal { background-color: var(--teal); }

.bg-clr-blue { background-color: var(--blue); }

.bg-clr-deepBlue { background-color: var(--deepBlue); }

.bg-clr-paleBlue { background-color: var(--paleBlue); }

.bg-clr-ash { background-color: var(--ash); }

.bg-clr-yellow { background-color: var(--yellow); }

.bg-clr-danger { background-color: var(--danger); }

.bg-clr-purple { background-color: var(--purple); }

.fs-12 { font-size: 12px; }

.fs-14 { font-size: 14px; line-height: 22px; }

.fs-18 { font-size: 18px; line-height: 28px; }

.fs-48 { font-size: 48px; }
@media (max-width: 768px) { .fs-48 { font-size: 38px; } }
@media (max-width: 576px) { .fs-48 { font-size: 28px; } }

.fs-36 { font-size: 36px; line-height: 46px; }

.fs-40 { font-size: 40px; }

.fs-54 { font-size: 54px; line-height: 3.37rem; }

.letter-spacing24 { letter-spacing: 2.4px; }

.fw-medium { font-weight: 500; }

.fw-semi-bold { font-weight: 600; }

.box-shadow { -webkit-box-shadow: 0px 15px 40px rgba(22, 8, 49, 0.1); box-shadow: 0px 15px 40px rgba(22, 8, 49, 0.1); }

.box-shadow2 { -webkit-box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.05); box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.05); }

.radius-10 { border-radius: 10px; }

.radius-16 { border-radius: 16px; }

.h-52 { height: 52px; }

.border-top-d { border-top: 1px solid #cbd8dc; }

a { -webkit-transition: 0.2s all linear; transition: 0.2s all linear; }
a:hover { color: #009fd3; }

.section-padding { padding: 120px 0; }

.section-header { max-width: 890px; width: 100%; }

/* helper , base classes  - END*/
/* header  - start*/
.header { position: absolute; width: 100%; top: 0px; z-index: 999; background-color: var(--deep-dark); -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.header.sticky { position: fixed !important; width: 100%; top: 0; left: 0; right: 0; z-index: 666; -webkit-animation: menuAnimation 0.4s linear; animation: menuAnimation 0.4s linear; }
@-webkit-keyframes menuAnimation { 100% { -webkit-transform: translateY(0px); transform: translateY(0px); }
  0% { -webkit-transform: translateY(-110px); transform: translateY(-110px); } }
@keyframes menuAnimation { 100% { -webkit-transform: translateY(0px); transform: translateY(0px); }
  0% { -webkit-transform: translateY(-110px); transform: translateY(-110px); } }
.header nav, .header .navbar-brand img { -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.header .navbar-nav .nav-item .nav-link { padding: 13px 10px; }
.header .navbar-nav .nav-item .nav-link::after { -webkit-transition: 0.2s all linear; transition: 0.2s all linear; }
.header .navbar-nav .nav-item .nav-link:hover::after { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
@media (max-width: 1200px) { .header .navbar-nav .nav-item .nav-link { padding: 13px 0px; } }
.header .navbar-nav .nav-item.custom-dropdown { position: relative; }
.header .navbar-nav .nav-item.custom-dropdown .dropArrow { visibility: hidden; opacity: 0; text-align: center; left: 0; right: 0; width: 100%; top: 50px; }
@media (max-width: 1200px) { .header .navbar-nav .nav-item.custom-dropdown .dropArrow { text-align: left !important; left: 5% !important; } }
.header .navbar-nav .nav-item.custom-dropdown:hover .custom-dropdown-menu { visibility: visible; -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); opacity: 1; display: block; z-index: 5555; }
.header .navbar-nav .nav-item.custom-dropdown:hover .custom-dropdown-menu.mega-menu1 { top: 60px; }
@media (max-width: 1200px) { .header .navbar-nav .nav-item.custom-dropdown:hover .custom-dropdown-menu.mega-menu1 { top: 45px; } }
.header .navbar-nav .nav-item.custom-dropdown:hover .dropArrow { visibility: visible; opacity: 1; top: 45px; }
@media (max-width: 1200px) { .header .navbar-nav .nav-item.custom-dropdown:hover .dropArrow { top: 28px; } }
@media (max-width: 768px) { .header .navbar-nav .nav-item.custom-dropdown:hover .dropArrow img { margin-bottom: -5px; } }
.header .navbar-nav .nav-item.custom-dropdown .custom-dropdown-menu { -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); visibility: hidden; opacity: 0; display: none; background-color: var(--deepBlue); border-radius: 10px; -webkit-transition: opacity 0.2s all linear; transition: opacity 0.2s all linear; }
.header .navbar-nav .nav-item.custom-dropdown .custom-dropdown-menu.mega-menu1 { position: absolute; min-width: 308px; left: -16px; top: 80px; }
@media (max-width: 1200px) and (min-width: 300px) { .header .navbar-nav .nav-item.custom-dropdown .custom-dropdown-menu.mega-menu1 { left: -5px; } }
.header .navbar-nav .nav-item.custom-dropdown .custom-dropdown-menu.mega-menu1 .widget-menu-list { border-radius: 6px; background-color: var(--deepBlue); }
.header .navbar-nav .nav-item.custom-dropdown .custom-dropdown-menu.mega-menu1 .widget-menu-list li a { padding-left: 24px; color: #fff; }
.header .navbar-nav .nav-item.custom-dropdown .custom-dropdown-menu.mega-menu1 .widget-menu-list li:hover a { padding-left: 29px !important; background: -webkit-gradient(linear, left top, right top, from(#b6edff), to(#009fd3)); background: linear-gradient(90deg, #b6edff 0%, #009fd3 100%); padding-left: 5px; }
.header .navbar-nav .nav-item.custom-dropdown .custom-dropdown-menu.mega-menu1 .widget-menu-list li:hover a span { color: #fff !important; }
.header .navbar-nav .nav-item.custom-dropdown .custom-dropdown-menu.mega-menu1 .widget-menu-list a { -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.header .navbar-nav .nav-item .nav-link { -webkit-transition: all 0.2s ease; transition: all 0.2s ease; }
.header .navbar-nav .nav-item .nav-link.active, .header .navbar-nav .nav-item .nav-link:focus, .header .navbar-nav .nav-item .nav-link:hover { color: var(--deepBlue); }
.header .navbar-toggler { -webkit-box-shadow: none; box-shadow: none; outline: none; }
.header .navbar-toggler img { width: 36px; }
.header.fixed-header { position: fixed; }
.header.fixed-header nav { padding: 8px 0 20px 0 !important; }
.header.fixed-header .navbar-brand img { -webkit-transform: scale(0.9); transform: scale(0.9); }

.sidebarBody .sideMenuItem { color: var(--teal); -webkit-transition: 0.2s all linear; transition: 0.2s all linear; }
.sidebarBody .sideMenuItem svg * { fill: #5d737a; -webkit-transition: 0.2s all linear; transition: 0.2s all linear; }
.sidebarBody .sideMenuItem:hover { color: var(--deepBlue); }
.sidebarBody .sideMenuItem:hover svg * { fill: var(--deepBlue); }

.offcanvas-backdrop { background-color: #003445 !important; }
.offcanvas-backdrop.show { opacity: 0.6000000238418579; }

.sidebar-social ul li a img { -webkit-transition: 0.2s all linear; transition: 0.2s all linear; }
.sidebar-social ul li a img:hover { -webkit-transform: translateY(-2px); transform: translateY(-2px); }

/* header  - END*/
/* banner style */
.banner { background-image: url(../img/bannerlayer.svg); background-repeat: no-repeat; background-size: contain; background-position: bottom center; }
.banner .banner-wrapper { padding-top: 156px; min-height: 970px; }
@media (max-width: 550px) { .banner .banner-wrapper { padding-top: 80px; } }

.sub-banner { background-image: url(../img/subpage-bg.png); background-repeat: no-repeat; background-size: auto; background-position: bottom center; }
.sub-banner .sub-banner-content { min-height: 500px; }
.sub-banner.single-blog .sub-banner-content { padding-top: 170px; }

.button { position: relative; overflow: hidden; z-index: 1; -webkit-transition: 0.2s all linear; transition: 0.2s all linear; }
.button::after { content: ""; position: absolute; bottom: 0; left: 0; width: 100%; height: 100%; z-index: -2; }
.button::before { content: ""; position: absolute; bottom: 0; left: 0; width: 0%; height: 100%; background: -webkit-gradient(linear, left top, right top, from(#b6edff), color-stop(60%, #009fd3)); background: linear-gradient(90deg, #b6edff 0%, #009fd3 60%); -webkit-transition: all 0.2s; transition: all 0.2s; z-index: -1; }
.button.contact-btn::before { content: ""; position: absolute; bottom: 0; left: 0; width: 0%; height: 100%; background: -webkit-gradient(linear, left top, right top, from(#fcf2cc), color-stop(60%, #f3db7b)) !important; background: linear-gradient(90deg, #fcf2cc 0%, #f3db7b 60%) !important; -webkit-transition: all 0.2s; transition: all 0.2s; z-index: -1; }
.button:hover { -webkit-transform: translateY(-2px); transform: translateY(-2px); }
.button:hover::before { width: 100%; }

/* banner style - END*/
/* visa process - start*/
.service-item { -webkit-box-shadow: 0px 30px 30px 0px rgba(0, 52, 69, 0.05); box-shadow: 0px 30px 30px 0px rgba(0, 52, 69, 0.05); -webkit-transition: 0.2s all linear; transition: 0.2s all linear; }
.service-item:hover { -webkit-box-shadow: 0px 30px 30px 0px rgba(0, 52, 69, 0.1); box-shadow: 0px 30px 30px 0px rgba(0, 52, 69, 0.1); }
.service-item .service-img img { border-radius: 16px 16px 0 0; }
.service-item .read-more svg * { fill: #384973; }
.service-item .read-more .arrow-svg { -webkit-transition: 0.2s all linear; transition: 0.2s all linear; }
.service-item .read-more:hover h4 { color: #5648ff !important; }
.service-item .read-more:hover .arrow-svg { -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.service-item .read-more:hover svg * { fill: #5648ff; }

/* visa process - END*/
/*line short - start*/
.text { overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; line-clamp: 1; -webkit-box-orient: vertical; }

/* line short - END*/
#apply-schengen { background-image: url(../img/bg-plane.svg); background-repeat: no-repeat; background-position: left center; }
#apply-schengen .apply-right-content .item h5 { border-bottom: 1px solid #0D1525; padding-bottom: 10px; }

/*loading  - start*/
#introduction { width: 100vw; height: 100vh; position: fixed; z-index: 105; background-color: #141414; cursor: pointer; overflow: hidden; top: 0; left: 0; z-index: 99999; }

#introduction .image-container { width: 100vw; height: 100vh; top: 0; left: 0; position: relative; }
#introduction .banner-logo { position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 80%; max-width: 1600px; }
#introduction .slide { position: absolute; width: 100%; height: 100%; right: 0; bottom: 0; background: #fff; }
#introduction .slide-2 { height: 0; }

@media (max-width: 768px) { #introduction .image-container { height: 100vh; } }
.slide-1 { z-index: 9999; }

.image-container { background-color: #1A4958; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#svg { height: 250px; width: 250px; stroke: white; fill-opacity: 0%; stroke-width: 6px; stroke-dasharray: 4500; -webkit-animation: draw 15s ease 1s; animation: draw 15s ease 1s; }

@-webkit-keyframes draw { 0% { stroke-dashoffset: 4500; }
  100% { stroke-dashoffset: 0; } }

@keyframes draw { 0% { stroke-dashoffset: 4500; }
  100% { stroke-dashoffset: 0; } }
/*loading - END*/
/*loading - END*/
.featured-img { margin-top: -300px; }

.blog-content-wrapper .content-inner-list { max-width: 890px; margin: 60px auto; }
.blog-content-wrapper .content-inner-list .inner-list { list-style: none; }
.blog-content-wrapper .content-inner-list .inner-list li { font-size: 16px; font-weight: normal; color: var(--dark2); position: relative; margin-bottom: 15px; }
.blog-content-wrapper .content-inner-list .inner-list li::before { content: ""; width: 10px; height: 10px; background-color: var(--blue-theme); border-radius: 50%; position: absolute; left: -20px; top: 6px; }

.note { margin-top: 30px; }
.note p { font-size: 18px; font-weight: 500; color: var(--dark2); font-style: italic; border-left: 10px solid var(--blue-theme); margin-left: 14px; padding-left: 20px; }

.tourpack-item { position: relative; overflow: hidden; }
.tourpack-item .travel-featured-caption { bottom: 30px; left: 0; -webkit-transition: all 0.3s linear; transition: all 0.3s linear; }
.tourpack-item .pack-img { max-width: 100%; border-radius: 10px; overflow: hidden !important; }
.tourpack-item .pack-img button img { width: auto !important; }
.tourpack-item .pack-img img { -webkit-transition: all 0.3s linear; transition: all 0.3s linear; width: 100%; }
.tourpack-item .pack-img::before { position: absolute; top: 0; left: -75%; z-index: 2; display: block; content: ''; width: 50%; height: 100%; background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.3))); background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%); -webkit-transform: skewX(-25deg); transform: skewX(-25deg); }
.tourpack-item:hover .pack-img img { -webkit-transform: scale(1.059); transform: scale(1.059); }
.tourpack-item:hover .pack-img::before { -webkit-animation: shine .75s; animation: shine .75s; }
@-webkit-keyframes shine { 100% { left: 125%; } }
@keyframes shine { 100% { left: 125%; } }
/*--- Contact Us -/Start ---*/
.social-icons-inner-wrap { gap: 30px; }
@media (max-width: 992px) { .social-icons-inner-wrap { gap: 20px; } }
.social-icons-inner-wrap a svg * { -webkit-transition: all 200ms linear; transition: all 200ms linear; }
.social-icons-inner-wrap a:hover svg * { fill: #009fd3; }

.contact-info-wrap { gap: 50px; }
.contact-info-wrap .border-bottom-dark { margin-top: 10px; max-width: 433px; width: 100%; border-bottom: 1px solid #0D1525; }

.contact-form-wrap .formInputCommon { border: none; padding: 20px 28px; border-radius: 150px; border: 2px solid transparent; font-size: 18px; line-height: 28px; color: #8A8A8A; font-weight: 400; }
.contact-form-wrap .formInputCommon::-webkit-input-placeholder { color: #8A8A8A; }
.contact-form-wrap .formInputCommon:-ms-input-placeholder { color: #8A8A8A; }
.contact-form-wrap .formInputCommon::-ms-input-placeholder { color: #8A8A8A; }
.contact-form-wrap .formInputCommon::placeholder { color: #8A8A8A; }
.contact-form-wrap .formInputCommon:focus { outline: none !important; border: 2px solid #009FD3; -webkit-box-shadow: 0px 20px 20px 0px rgba(31, 43, 47, 0.05); box-shadow: 0px 20px 20px 0px rgba(31, 43, 47, 0.05); }
.contact-form-wrap .formInputCommon.formInputTextarea { border-radius: 16px; }
.contact-form-wrap .formInputBtn { border-radius: 150px; padding: 16px 40px; margin-top: 15px; -webkit-transition: all 200ms linear; transition: all 200ms linear; }
.contact-form-wrap .formInputBtn:hover { background: #009FD3; color: #ffffff; }
.contact-form-wrap textarea { resize: none; }

/*--- Contact Us -/End ---*/
/*--- Our Policy -/Start ---*/
.our-policy-section { padding-top: 160px; }
.our-policy-section .our-policy-wrap { padding: 70px 116px; }
.our-policy-section .our-policy-list { gap: 16px; }

.pb-40 { padding-bottom: 40px; }

.pb-50 { padding-bottom: 50px; }

.fs-58 { font-size: 58px; line-height: 68px; }

/*--- Our Policy -/End ---*/
/*--- Error 404 -/Start ---*/
.error-404-section { padding-top: 160px; }

/*--- Error 404 -/End ---*/
